.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    box-sizing: border-box;
}
.row {
    width:100%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    padding: 10px;
    text-align: center;
    border: .5px solid black;
}
.column.one-half {
    width: calc(50% - 21px);
    background-color: #0fb784;
}
.column.one-third {
    width: calc(33.33% - 21px);
    background-color: #fffab3;
}
.column.one-fourth {
    width: calc(25% - 21px);
    background-color: whitesmoke;
}
.column.one-sixth {
    width: calc(16.66% - 21px);
    background-color: darkkhaki;
}
.column.one-eighth {
    width: calc(12.5% - 21px);
    background-color: #e8a7a0;
}
@media screen and (min-width: 1px) and (max-width: 991px) {
    .container {
        width: 100%
    }
    .row .one-half {
        width: 100%
    }
    .row .one-third {
        width: 100%
    }
    .row .one-fourth {
        width: 100%
    }
    .row .one-sixth {
        width: 100%
    }
    .row .one-eighth {
           width: 100%
       }
}