/*#forecastInfo, h1, h2 {*/
/*    text-align: center;*/
/*}*/

p {
    font-size: 12px;
    margin-bottom: 5px;
}

#moveRight {
    margin-left: 20px;
}

body {
    background-color: #7abaff;
}

#forecastInfo {
    background-color: white;
}

#bgColor {
    background-color: #d3d9df;
}
.mapWidth {
    width: 100%;
    height: 400px;
}

section {
    align-content: center;
}

.padding {
    margin: 0 30px;
    background-color: #7abaff;
}

.iconSmall {
    height: 27px;
    width: auto;
}